# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. JavaScript
6. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-Learn
5. Seaborn
6. Ternsorflow
7. Pytorch

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

Objectives:

* __List popular languages for Data Science__
* __List of Data Science libraries__
* __Evaluation of arithmetic expression with Python__

## Author:
Alejandro Castellanos